<!DOCTYPE html>
<html>

<style>
body{
	
	background-image: url("/static/test.png");
	background-size: 73% 300%;
	background-position: center top;
}

.redtext {
	color: #b6000d;
}

.div1 {
	float: left;
}

.div2 {
	float: right;
	text-align: right;
}

#locator1 {
	position: absolute; visibility: visible; left: 175px; z-index: 200;
}

#locator2 {
	position: absolute; visibility: visible; right: 185px; z-index: 200;
}

}
</style>

<font size="7"><b>Not everyone is on board with the idea that GLOBAL WARMING is really happening. Some might even say it's... FAKE NEWS?!?!</b> </font><br><br>


<br><br>

<div>
	<div class="div1"><font size="5"><b>Below this text you can generate plots for the average <br> temperatures in the US in any period from 1816-2012, <br> by entering the start and end of your desired period.</b><font>
	<br><br>

		<div id="locator1">
		<form action="/plots/temp_plot" method='POST'>
		<table>
		<tr>
		<td>Start Year:<br>
		<input type="text" name="startyearTemp"><br>
		Y-axis min:<br>
		<input type="text" name="yminTemp" value="Default"></td>
		<td>End year:<br>
		<input type="text" name="endyearTemp"><br>
		Y-axis max:<br>
		<input type="text" name="ymaxTemp" value="Default"></td>
		</tr>
		</table>
		Month:<br>
		<select name="month">
			<option value="January">January</option>
			<option value="February">February</option>
			<option value="March">March</option>
			<option value="April">April</option>
			<option value="May">May</option>
			<option value="June">June</option>
			<option value="July">July</option>
			<option value="August">August</option>
			<option value="September">September</option>
			<option value="October">October</option>
			<option value="November">November</option>
			<option value="December">December</option>
		</select><br>
		<input type="submit" value="Submit">
		</form>
		</div>

	</div>
	<div class="div2"><font size="5"><b>Below this text you can generate plots for the global <br>emmision of CO2 in any period from 1751 to 2012, <br> by entering the start and end of your desired period.</b><font>
	<br><br>

		<div id="locator2">
		<form action="/plots/CO2_plot" method='POST'>
		<table>
		<tr>
		<td>Start Year:<br>
		<input type="text" name="startyearCO2"><br>
		Y-axis min:<br>
		<input type="text" name="yminCO2" value="Default"></td>
		<td>End year:<br>
		<input type="text" name="endyearCO2"><br>
		Y-axis max:<br>
		<input type="text" name="ymaxCO2" value="Default"></td>
		</tr>
		</table>
		<input type="submit" value="Submit">
		</form>
		</div>

	</div>
</div>
<br><br>